.header {
  width: 90%;
  cursor: pointer;
  position: fixed;
  display: flex;
  /* justify-content: center; */
  text-transform: uppercase;
  background-color: rgb(72, 100, 166);
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 3vw;
  padding-bottom: 15px;
  padding-top: 15px;
  box-shadow: 2px 6px 8px rgba(5, 55, 59, 0.836);
  color: rgb(252, 251, 251);
  z-index: 100;
  text-align: left;
  padding-left: 40px;
  margin-top: 2px;
  margin-left: 50px;
  margin-right: 60px;
  border-radius: 10px;
}

@media (max-width: 1000px) {
  .header {
    padding-top: 15px;
    font-size: 6.4vw;
  }
}
